img.cart-shoe {
    width: 99%;
    transform: rotate(-20deg);
}

.root-detail {
    display: inline;
}

.quantity {
    background-color: transparent;
    color: #fff;
    border-radius: 3px;
}

option {
    background-color: #151515;
}

.button.checkout {
    margin-left: 18%;
}